.playerWrapper {
    position: relative;
    padding-top: 56.25%; /* Adjusted for a 16:9 aspect ratio */
    /*padding-bottom: 56px; !* Removed extra padding *!*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
    /*    width: 100%;*/
    /*    height: 100%; !* Adjusted to fill the container *!*/
    /*}*/
}